// base color
$blue:#2c3e50;
$light-blue:#3498db;
$red:#e74c3c;
$pink: #e84393;
$green: #2ecc71;
$tiffany: #1abc9c;
$yellow:#f1c40f;
$panGreen: #16a085;

// 新风格菜单主题颜色
$base-menu-color:#ecf0f1;
$base-menu-color-active:#ffffff;
$base-menu-background:#161b22;
$base-logo-title-color: #ffffff;

$base-menu-light-color:rgba(0,0,0,.70);
$base-menu-light-background:#f8f9fa;
$base-logo-light-title-color: #161b22;

$base-sub-menu-background:#0d1117;
$base-sub-menu-hover:#21262d;

// 自定义暗色菜单风格参考
/**
$base-menu-color:hsla(0,0%,100%,.65);
$base-menu-color-active:#fff;
$base-menu-background:#001529;
$base-logo-title-color: #ffffff;

$base-menu-light-color:rgba(0,0,0,.70);
$base-menu-light-background:#ffffff;
$base-logo-light-title-color: #001529;

$base-sub-menu-background:#000c17;
$base-sub-menu-hover:#001528;
*/

$base-sidebar-width: 220px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuColor: $base-menu-color;
  menuLightColor: $base-menu-light-color;
  menuColorActive: $base-menu-color-active;
  menuBackground: $base-menu-background;
  menuLightBackground: $base-menu-light-background;
  subMenuBackground: $base-sub-menu-background;
  subMenuHover: $base-sub-menu-hover;
  sideBarWidth: $base-sidebar-width;
  logoTitleColor: $base-logo-title-color;
  logoLightTitleColor: $base-logo-light-title-color
}
