<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yokior.team.mapper.QaUserTeamMapper">
    
    <resultMap type="QaUserTeam" id="QaUserTeamResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="teamId"    column="team_id"    />
        <result property="role"    column="role"    />
        <result property="joinTime"    column="join_time"    />
    </resultMap>

    <sql id="selectQaUserTeamVo">
        select id, user_id, team_id, role, join_time from qa_user_team
    </sql>

    <select id="selectQaUserTeamList" parameterType="QaUserTeam" resultMap="QaUserTeamResult">
        <include refid="selectQaUserTeamVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="teamId != null "> and team_id = #{teamId}</if>
            <if test="joinTime != null "> and join_time = #{joinTime}</if>
        </where>
    </select>
    
    <select id="selectQaUserTeamById" parameterType="Long" resultMap="QaUserTeamResult">
        <include refid="selectQaUserTeamVo"/>
        where id = #{id}
    </select>

    <insert id="insertQaUserTeam" parameterType="QaUserTeam" useGeneratedKeys="true" keyProperty="id">
        insert into qa_user_team
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="teamId != null">team_id,</if>
            <if test="role != null and role != ''">role,</if>
            <if test="joinTime != null">join_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="teamId != null">#{teamId},</if>
            <if test="role != null and role != ''">#{role},</if>
            <if test="joinTime != null">#{joinTime},</if>
         </trim>
    </insert>

    <update id="updateQaUserTeam" parameterType="QaUserTeam">
        update qa_user_team
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="teamId != null">team_id = #{teamId},</if>
            <if test="role != null and role != ''">role = #{role},</if>
            <if test="joinTime != null">join_time = #{joinTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteQaUserTeamById" parameterType="Long">
        delete from qa_user_team where id = #{id}
    </delete>

    <delete id="deleteQaUserTeamByIds" parameterType="String">
        delete from qa_user_team where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>